/* reset.css */

/* ########## RESET CSS ########## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  background: var(--c2);
  background-image: url('../../assets/images/texture.png');
  background-size: cover;
  background-repeat: repeat;
  /* background-position: center; */

}

#root {
  width: 100%;
  /* height: auto; */
  height: 100%;
}