/* form.css */

/* ########## FORM ########## */
.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 24px;
  gap: 1rem;
  align-items: start;
  box-shadow: var(--shd-default);
  background: var(--p3y);
  border: 1px solid var(--p4y);
}

.form button {
  align-self: center;
}

/* ########## INPUT ########## */ 
.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 24px;
  background: var(--p4x);
  border: 1px solid var(--p5x);
  color: var(--p10y);
  outline: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease,
  border-color 0.3s ease;
  box-shadow: var(--shd-default);
}

.input:hover {
  background: var(--p4y);
  border: 1px solid var(--p5y);
  color: var(--p11y);
}

.input:focus {
  background: var(--p4z);
  border: 1px solid var(--p5z);
  color: var(--p12y);
}

@media (max-width: 550px) {
  .input {
    max-width: 20rem;
  }
}