.menu-container {
  position: fixed;
  height: 100vh;
  top: 0rem;
  right: 0rem;
  padding: 2rem 5rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5rem;
  padding: 0.75rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.menu-opened {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background: var(--c1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

.menu-opened div {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: var(--c2);
  opacity: 0; /* Inicialmente, definimos a opacidade como 0 para que os itens estejam invisíveis */
  transform: translateY(-20px); /* Deslocamento para cima para ocultar os itens */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-opened div:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-opened.show div {
  opacity: 1; /* Quando a classe show é adicionada, os itens tornam-se visíveis */
  transform: translateY(0);
}

.hidden {
  display: none;
}

.show {
  display: flex;
}