.popup-card {
    width: 22rem;
    height: 10rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: #FFDDDE;
    border-radius: 0.2rem;
    padding: 2rem 1.5rem;
    /* position: relative; */
    position: fixed;
    right: 10px;
    transition: all 0.8s ease;
    transform: translateY(100vh) translateX(-16px);
    font-family: 'Nunito', sans-serif;
}


.popup-icon {
    width: 2.8rem;
    height: 2.8rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f9ffff;
    color: #e6153d;
    border-radius: 50%;
}

.popup-content>h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #404656;
}

.popup-content>p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #666b78;
    margin-top: 0.5rem;
}

.popup-button {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #e6153d;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.popup-close-icon {
    /* font-size: 1rem; */
    font-size: 20px;
    vertical-align: top;
    line-height: 1.2;
}