.popup-card {
    width: 22rem;
    height: 8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid var(--c4);
    position: fixed;
    right: 5rem;
    transition: all 0.3s ease;
    /* transform: translateY(100vh) translateX(-16px); */
    transform: translateY(100vh) translateX(0px);
    font-family: 'Nunito', sans-serif;
    background: var(--c3);
}


.popup-icon {
    width: 2.8rem;
    height: 2.8rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    /* background-color: #8ac926; */
    background-color: #f94144;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
}

.popup-content>h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #464444;
}

.popup-content>p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #6a6a6b;
    margin-top: 0.5rem;
}

.popup-button {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #302e2f;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.popup-close-icon {
    /* font-size: 1rem; */
    font-size: 20px;
    /* vertical-align: top; */
    line-height: 1.2;
}