.popup-card {
    width: 22rem;
    height: 8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1.2rem;
    padding: 1rem 2rem;
    border: 1px solid var(--c4);
    position: fixed;
    right: 5rem;
    transition: all 0.3s ease;
    transform: translateY(100vh) translateX(0px);
    font-family: 'Nunito', sans-serif;
    background: var(--p10y);
    box-shadow: var(--shdh-default);
}


.popup-icon {
    width: 2.4rem;
    height: 2.4rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f94144;
    border: 2px solid var(--p2y);
    color: var(--p1y);
    border-radius: 10rem;
}

.popup-content>h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--p6y);
}

.popup-content>p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--p4y);
    margin-top: 0.5rem;
}

.popup-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: var(--p8y);
    cursor: pointer;
    border: none;
    border-radius: 10rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    background: transparent;
}

.popup-button:hover {
    color: #ffffff;
    background-color: #302e2f;
}

.popup-close-icon {
    font-size: 20px;
    vertical-align: top;
    line-height: 1.2;
}