.admin-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-container .main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 5em;
    flex: 1;
}

.admin-container .main img {
    display: block;
    width: 1em;
    height: 1em;
}

.admin-container .admin-content {
    border-radius: 1.5em;
    overflow-x: scroll;
    border: 1px solid var(--p11y);
}

.admin-container .admin-content tbody {
    display: flex;
}

.admin-container .admin-content tbody tr {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.admin-container .admin-content tbody tr td {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 20em;
    border: 1px solid var(--p4y);

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--p12y);
}

.admin-container .admin-content button {
    display: flex;
    border: 1px solid var(--p11y);
    background: var(--bg-yellow);
    padding: 1em 2em;
    border-radius: 5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
}

.admin-container .admin-content button.visualize {
    background: #b9ff3f;
}

.admin-container .admin-content button:hover {
    columns: var(--bgh-yellow);
}

.admin-container .admin-content button.button-delete {
    border: 1px solid var(--p11y);
    color: var(--p11y);
    background: #ff6735;
}

.admin-container .admin-content button.button-delete:hover {
    background: #fd6330;
}

@media (max-width: 850px) {   
    .admin-container .main {
        padding: 1em 2em;
    }
}