#container-dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-container .main {
    flex: 1;
    padding: 2em 5em;
}

.dashboard-container .dashboard-content .content-table {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    border-radius: 1.5em;
    border: 1px solid var(--p11y);
    box-shadow: 0px 0px 6px #a7a5a5;
}

.dashboard-container .dashboard-content .content-table thead {
    display: flex;
}

.dashboard-container .dashboard-content .content-table thead tr {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-content: space-around;
    width: 100%;
}

.dashboard-container .dashboard-content .content-table thead tr th {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid var(--p4y);
}

.table-header-thead {
    position: sticky;
    left: 0;
    margin-right: 96px;
}

.table-header-thead tr th {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 7em;
    border: 1px solid var(--p4y);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--p12y);
    background-color: rgb(226, 226, 226);

}

.dashboard-container .dashboard-content .content-table tbody {
    display: flex;
    justify-content: start;
    width: 100%;
}

.dashboard-container .dashboard-content .content-table tbody tr {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.dashboard-container .dashboard-content .content-table tbody tr:nth-child(even) {
    background-color: #e9eaeb;
}

.dashboard-container .dashboard-content .content-table tbody tr td {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 20em;

    border: 1px solid var(--p4y);
    /* height: 90px; */
}

.dashboard-container .main button {
    border: 1px solid var(--p11y);
    background: var(--bg-yellow);
    padding: 1em 2em;
    border-radius: 5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 0px 4px #838383;
}

.dashboard-container .main button.visualize {
    background: #b9ff3f;
}

.dashboard-container .main button:hover {
    columns: var(--bgh-yellow);
}

.dashboard-container .main button.button-delete {
    border: 1px solid var(--p11y);
    color: var(--p11y);
    background: #ff6735;
}

.dashboard-container .main button.button-delete:hover {
    background: #fd6330;
}

@media (max-width: 850px) {
    .dashboard-container .main {
        padding: 1em 2em;
    }
}

@media (max-width: 500px) {
    .dashboard-container .dashboard-content .content-table tbody tr td {
        width: 12em;
    }
}