.dashboard-container img {
    display: none;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-container .main {
    flex: 1;
    padding: 2em 5em;
}

.dashboard-container .dashboard-content .content-table {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    overflow-x: scroll;
    border-radius: 1.5em;
    border: 1px solid var(--p11y);
}

.dashboard-container .dashboard-content .content-table thead {
    display: flex;
}

.dashboard-container .dashboard-content .content-table thead tr {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    justify-content: space-around;
    width: 100%;
}

.dashboard-container .dashboard-content .content-table thead tr th {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid var(--p4y);
}

.dashboard-container .dashboard-content .content-table tbody {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.dashboard-container .dashboard-content .content-table tbody tr {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.dashboard-container .dashboard-content .content-table tbody tr td {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 20em;

    border: 1px solid var(--p4y);
}

.dashboard-container button {
    border: 1px solid var(--p11y);
    background: var(--bg-yellow);
    padding: 1em 2em;
    border-radius: 5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
}

.dashboard-container button.visualize {
    background: #b9ff3f;
}

.dashboard-container button:hover {
    columns: var(--bgh-yellow);
}

.dashboard-container button.button-delete {
    border: 1px solid var(--p11y);
    color: var(--p11y);
    background: #ff6735;
}

.dashboard-container button.button-delete:hover {
    background: #fd6330;
}

@media (max-width: 850px) {   
    .dashboard-container .main {
        padding: 1em 2em;
    }
}