.favorites-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.favorites-container .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 5rem;
    gap: 2rem;

}

.favorites-container .favorites-content {
    column-count: 4;
}

.favorites-container .favorites-news-card {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    max-height: 30rem;
    background: var(--bg-yellow);
    padding: 1rem;
    margin-bottom: 1em;
    border-radius: 1.5rem;
    cursor: pointer;
    gap: 0.5em;
    box-shadow: var(--shd-default);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.favorites-container .favorites-news-card:hover {
    background: var(--bgh-yellow);
    box-shadow: var(--shdh-default);
    transform: scale(1.01);
}

.favorites-container .favorites-news-card:not(:hover) {
    transform: scale(1);
}

.favorites-container .favorites-news-card .details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.favorites-container .favorites-news-card .interactions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25em;
}

.favorites-container .favorites-news-card .banner {
    min-height: 10rem;
    max-height: 15rem;
    border-radius: 1.5em;
    object-fit: cover;
    object-position: center;
}

@media (max-width:1000px) {
    .favorites-container .favorites-content {
        column-count: 3;
    }
}

@media (max-width:850px) {
    .favorites-container .main {
        padding: 1rem 2rem;
    }
}

@media (max-width:750px) {
    .favorites-container .favorites-content {
        display: flex;
        flex-direction: column;
    }
}