/* home.css */

/* ########## HOME PAGE ########## */
.home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-container .main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5rem;
}

/* ========== FEATURED NEWS ========== */
.featured-news-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured-news-content .carousel {
    display: flex;
    flex-direction: column;
}

.featured-news-content .banner-container {
    display: flex;
    gap: 0.5rem;
}

.featured-news-content .banner {
    display: flex;
    flex: 1;
    max-height: 15rem;
    background: var(--p10);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
}

.featured-news-content .banner img {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.featured-news-content .navigation-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    gap: 1rem;
}

.featured-news-content .item-navigation {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--bgh-yellow);
}

.featured-news-content .item-navigation:checked {
    background: var(--bgh-yellow);
    border: 2px solid var(--bgh-yellow);
}

.featured-news-content .info {
    width: fit-content;
    padding: 1rem 2rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background: var(--bg-yellow);
    box-shadow: var(--shd-default);
    transition: box-shadow 0.3s ease;
}

.featured-news-content .info:hover {
    cursor: pointer;
    box-shadow: var(--shdh-default);
}

.featured-news-content .info .details {
    display: flex;
    gap: 1rem;
}

/* ========== NEWS FEED ========== */

.news-feed-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news-feed-container .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.news-feed-container .filters .filter {
    display: none;
}

.news-feed-container .filters .checkbox {
    background: var(--bg-gray);
    border: 1px solid var(--c3);
    padding: 0.5rem 1rem;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    box-shadow: var(--shd-default);
    transition: box-shadow 0.3s ease;
}

.news-feed-container .filters .checkbox:hover {
    box-shadow: var(--shdh-default);
}

.news-feed-container .filters input[type='radio']:checked+.checkbox {
    background: var(--bg-yellow);
    border: 1px solid var(--dark-yellow);
}

.news-feed-container .news-feed-content .category {
    column-count: 4;
    gap: 1em;
    column-gap: 1em;
}

.news-feed-container .news-feed-content .card-news {
    flex-direction: column;
    break-inside: avoid;
    height: 100%;
    background: var(--bg-yellow);
    padding: 1rem;
    margin-bottom: 1em;
    border-radius: 1.5rem;
    cursor: pointer;
    gap: 1em;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Adicionando transformação à transição */
    box-shadow: var(--shd-default);
    display: flex;
}

.news-feed-container .news-feed-content .card-news:hover {
    background: var(--bgh-yellow);
    box-shadow: var(--shdh-default);
    transform: scale(1.01);
}

/* Adicionando transição para voltar ao normal */
.news-feed-container .news-feed-content .card-news:not(:hover) {
    transform: scale(1);
}

.news-feed-container .news-feed-content .card-info {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.news-feed-container .news-feed-content .details {
    display: flex;
    gap: 0.5em;
}

.news-feed-container .news-feed-content .card-news img {
    display: flex;
    max-height: 20em;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

@media (max-width:1000px) {
    .news-feed-container .news-feed-content .category {
        column-count: 3;
    }
}

@media (max-width:850px) {
    .home-container .main {
        padding: 1rem 2rem;
    }
}


@media (max-width:750px) {
    .featured-news-content .banner {
        border-bottom-right-radius: 0px;
    }

    .news-feed-container .news-feed-content .category {
        column-count: 2;
    }

    .featured-news-content .navigation-container {
        display: none;
    }

    .featured-news-content .info {
        width: 100%;
    }
}

