/* login.css */

/* ########## LOGIN PAGE ########## */
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-login {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  gap: 2rem;
  overflow: hidden;

}

.form button {
  align-self: center;
}

.main-login .signup-link {
  transition: color 0.3s ease;
  color: var(--c11);
}

.main-login .signup-link:hover {
  color: var(--c12);
}

.interact-span:hover {
  cursor: pointer;
}