/* login.css */

/* ########## LOGIN PAGE ########## */
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-login {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  gap: 2rem;
  overflow: hidden;
}

.main-login .signup-link {
  transition: color 0.3s ease;
  text-align: center;
}

.main-login .signup-link a {
  color: var(--p10y);
  transition: color 0.3s ease;
  transition: font-weight 0.3s ease, color 0.3s ease,
}

.main-login .signup-link a:hover {
  color: var(--p10z); 
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 850px) {
  .main-login {
    padding: 1rem 2rem;
  }
}

@media (max-width:450px) {
  .main-login .primary-heading {
    font-size: 3rem;
  }
}
