/* main.css */

/* ########## MAIN PAGE ########## */
.main-container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-main {
  min-height: 30rem;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  padding: 2rem 5rem;
  gap: 2rem;
  overflow: hidden;
}

.main-main>.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1;

  height: 100%;
}

.main-main>.text-container>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-main>.image-container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
}

.main-main .image-container>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.append-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  flex: 1;
}