.initial-main {
  width: 100%;
  min-height: calc(100vh - 7rem - 144px); /* Definindo altura mínima */
  padding: 0px 80px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 32px;
  align-items: center;
}

.main-content-text {
  grid-column: 1 / span 6;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 32px;
  height: 100%;
  align-content: center;
  align-items: start;
}

.main-content-image {
  grid-column: span 6;
  height: 30rem;
  border-radius: 24px;
  overflow: hidden;
}

.main-content-text .title {
  font-family: var(--font-title);
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 80px;
  color: #021122;
  grid-column: 1 / -1;
}

.main-content-text .paragraph {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #021122;
  margin-top: 40px;
  grid-column: 1 / span 6;
}

.main-content-text .buttons {
  display: flex;
  max-width: fit-content;
  margin-top: 24px;
  gap: 16px;
  grid-row: 3;
  grid-column: 1 / span 4;
}

.main-content-image img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}