.create-post-container {
  display: flex;
  flex-direction: column;
  gap: 1remz;
}

.create-post-container  .main {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.create-post-container .editor-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.create-post-container  .title-input {
  border: none;
  border-radius: 1em;
  padding-inline: 1em;
  outline: none;
  color: var(--p10y);
  width: 100%;
  box-shadow: var(--shd-default);
  transition: box-shadow 0.3s ease;
}

.create-post-container .title-input:hover {
  box-shadow: var(--shdh-default);

}

.create-post-container .select-category {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.create-post-container .checkbox {
  background: var(--bg-gray);
  border: 1px solid var(--c3);
  padding: 0.5rem 1rem;
  border-radius: 24px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  box-shadow: var(--shd-default);
  transition: box-shadow 0.3s ease;
}

.create-post-container .checkbox:hover {
  background: var(--bgh-gray);
  box-shadow: var(--shdh-default);
}

.create-post-container input[type='radio']:checked+.checkbox {
  background: var(--bg-yellow);
  border: 1px solid var(--dark-yellow);
  color: var(--dark-yellow);
  transition: background-color 0.3s ease, color 0.3s ease,
  border-color 0.3s ease, box-shadow 0.3s ease;
}

.create-post-container input[type='radio']:checked+.checkbox:hover {
  background: var(--bgh-yellow);
}

.create-post-container #toolbar {
  background: var(--c3);
  border-top: 1px solid #d8dde1;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-family: 'Nunito', sans-serif;
}

.create-post-container #toolbar span.ql-formats {
  align-items: center;
}

.create-post-container input[type='radio'] {
  display: none;
}

.create-post-container .editor {
  border-bottom-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.create-post-container #editor {
  background: var(--c2);
  overflow: scroll;
  min-height: 20rem;
  max-height: 40rem;
  padding: 2rem 5rem;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.create-post-container .select-banner {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;

  border: 1px solid var(--p3y);
  border-radius: 1.5em;
  border: none;
  height: 10em;
}

.create-post-container .select-banner label {
  position: absolute;
  top: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  background-color: #32323265;
  opacity: 0;
  border-radius: 1rem;
}

.create-post-container .select-banner label:hover {
  opacity: 1;
}

.create-post-container .select-banner input {
  display: none;
}

.create-post-container .select-banner img {
  width: 100%;
  height: 100%;
  background: transparent no-repeat;
  object-fit: cover;
  object-position: center;
  border: none;
  border-radius: 1em;
}



/* EDITOR TINYMCE */

.create-post-container #editor-container {
  background: var(--c2);
  overflow: scroll;
  min-height: 20rem;
  max-height: 40rem;
  /* padding: 2rem 5rem; */
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

@media (max-width: 850px) {
  .create-post-container  .main {
    padding: 1rem 2rem;
  }  
}

@media (max-width:450px) {
  .create-post-container .primary-heading {
    font-size: 3rem;
  }

  .create-post-container #toolbar {
    flex-direction: column;
    align-items: center;
  }

  .create-post-container #toolbar button {
    width: 48px;
    height: 48px;
  }
}