/* MAIN */  
.profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-container .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2em 5em;
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 2em 4em;
    max-width: 50em;
    box-shadow: var(--shdh-default);
    background: var(--p3y);
    margin: 40px;
    backdrop-filter: blur(20px);
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}


/* HEADER */

.profile-header {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.profile-header .profile-name {
    font-size: 2em;
}

.my-profile-photo {
    cursor: pointer;
    width: 15em;
    height: 15em;
    object-fit: cover;
    object-position: center;
    border: 5px solid var(--bg-yellow);
    border-radius: 100%;
    padding: 1px;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
    position: relative;
}

.my-profile-photo:hover {
    border: 5px solid var(--bgh-yellow);
    transform: scale(1.01);
}



/* CONTENT */
.wrapper {
    color: black;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    flex: 1;
    display: flex;
    border-radius: 16px;
    background: var(--p3y);
    /* box-shadow: var(--shd-default); */
    padding: 1em;
}

.profile-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
    align-items: center;
}

.profile-group .label {
    color: var(--p6y);
    font-size: 18px;
    text-align: center;
}


/* OPTIONS */

.profile-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 4px 0px;
    width: 100%;
}

.options-group {
    display: flex;
    padding: 10px 0;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.options-group button {
    background: var(--p3y);
    border: 1px solid var(--p4y);
    border-radius: 1rem;
    color: var(--p8y);
    padding: 0.5em 1em;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--shd-default);
    margin: 0 2px;
    cursor: pointer;
}

.options-group button:hover {
    background: var(--p4y);
    box-shadow: var(--shdh-default);
}



/* EDIT PROFILE */

#profile-edit,
#edit-options {
    display: none;
    padding-left: 40px;
}

#profile-edit {
    background-color: #00000000;
    border: none;
    box-shadow: none;
}

.label-edit {
    color: #c7c7c7;
    font-size: 13px;
}

/* .label-edit {
    padding-left: 30px;
    align-self: flex-start;
} */

.profile-group input {
    font-family: 'Nunito', sans-serif;
    border: none;
    border-bottom: 2px solid #aaaaaa;
    outline: none;
    background-color: #fefefe;
    border-radius: 2px;
    padding: 4px 4px 2px 6px;
    font-weight: 600;
    width: 240px;
}

.profile-group input::placeholder {
    font-size: 13px;
    color: #aaaaaa
}

.profile-group input:focus {
    background-color: aliceblue;
    border-bottom: 2px solid #74c69d;

}

#profile-edit .profile-group {
    align-items: start;
}

#profile-edit .profile-group input {
    font-size: 14px;
}

@media (max-width: 850px) {
      .profile-container .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 1em 2em;
    }
  }

  @media (max-width: 650px) {
    .profile-card {
        gap: 0.5em;
    }

    .my-profile-photo {
        width: 10em;
        height: 10em;
    }

    .profile-options {
        align-items: center;
    }

    .options-group {
        flex-direction: column;
    }
  }


  @media (max-width: 500px) {
    .profile-card {
        padding: 1em 2em;
    }
  }
