/* MAIN */

.profile-bg {
    background-image: url("/assets/images/profile_background.webp");
}

#profile-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 16px;
    padding: 8px 20px;
    width: 800px;
    box-shadow: 0px 0px 12px #9e9e9e;
    background-color: #f0f8ff00;
    margin: 40px;
    backdrop-filter: blur(20px);
}


/* HEADER */

#profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 1px solid #cccccc; */
    padding: 16px 16px 24px 16px;
    width: 50%;
    color: white;
}

.my-profile-photo {
    border-radius: 50%;
    border-style: solid;
    min-width: 250px;
    min-height: 250px;
    max-width: 80px;
    max-height: 80px;
    border-color: #74c69d;
    padding: 1px;
    aspect-ratio: 1 / 1;
}

#profile-username {}

#profile-name {}


/* CONTENT */

.wrapper {
    padding: 20px;
    color: black;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 4px 0px;
    width: 100%;
    font-size: 20px;

    display: flex;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 16px;
    box-shadow: rgb(182, 174, 174) 0px 0px 4px;
    background-color: rgb(255, 255, 255);
}

.profile-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
    align-items: center;
}

.profile-group .label {
    color: #a4a0a0;
    font-size: 18px;
}


/* OPTIONS */

#profile-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 4px 0px;
    width: 100%;
}

.options-group {
    display: flex;
    padding: 10px 0;
}

.options-group button {
    background: #ffffff;
    border: 1px solid #cbcbcb;
    color: #5e5e5e;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 2px;
}

.options-group button:hover {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



/* EDIT PROFILE */

#profile-edit,
#edit-options {
    display: none;
    padding-left: 40px;
}

#profile-edit {
    background-color: #00000000;
    border: none;
    box-shadow: none;
}

.label-edit {
    color: #c7c7c7;
    font-size: 13px;
}

/* .label-edit {
    padding-left: 30px;
    align-self: flex-start;
} */

.profile-group input {
    font-family: 'Nunito', sans-serif;
    border: none;
    border-bottom: 2px solid #aaaaaa;
    outline: none;
    background-color: #fefefe;
    border-radius: 2px;
    padding: 4px 4px 2px 6px;
    font-weight: 600;
    width: 240px;
}

.profile-group input::placeholder {
    font-size: 13px;
    color: #aaaaaa
}

.profile-group input:focus {
    background-color: aliceblue;
    border-bottom: 2px solid #74c69d;

}

#profile-edit .profile-group {
    align-items: start;
}

#profile-edit .profile-group input {
    font-size: 14px;
}

/* ANIMATION */

.clicked {
    box-sizing: none;
    transform: scale(0.95);
    transition: transform 0.2s ease;
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.3) !important;
}