/* register.css */

/* ########## REGISTER PAGE ########## */
.register-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.main-register {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  gap: 2rem;
}

.main-register .signin-link {
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--c11);
  text-align: center;
}

.main-register .signin-link:hover {
  color: var(--c12);
}

@media (max-width:850px) {
  .main-register {
    padding: 1rem 2rem;
  }
}

@media (max-width:450px) {
  .main-register .primary-heading {
    font-size: 3rem;
  }
}


