.register-container {
  display: flex;
  flex-direction: column;
}

.main-register {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  gap: 2rem;
}

.main-register .signin-link {
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--c8);
}

.main-register .signin-link:hover {
  color: var(--c9);
}
