/* footer.css */

/* ########## FOOTER ########## */
.footer {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 1rem;
  flex-shrink: 0;
  height: 8rem;
  min-height: 8rem;
}

.footer p {
  color: var(--c12);
  text-align: center;
}