/* header.css */

/* ########## HEADER ########## */
.header {
  display: flex;
  padding-inline: 5rem;
  height: 8rem;
  min-height: 8rem;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 1rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.header .logo span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.header .logo-icon {
  width: 35px;
  cursor: pointer;
}

.header .navigation .toggle {
  display: none;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.header .navigation .list {
  gap: 1rem;
  display: flex;
}

.header .navigation .list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  list-style: none;
  background: var(--c2);
  border: 0.5px solid transparent;
  border-radius: 10rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header .navigation .list .item:hover {
  background: var(--c2);
  box-shadow: var(--shdh-default);
  transition-duration: 0s;
}

.logout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
}

.logout img {
  width: 1rem;
}

@keyframes blurAnimation {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(5px);
  }
}

@keyframes blurAnimationOut {
  from {
    backdrop-filter: blur(5px);
  }
  to {
    backdrop-filter: blur(0);
  }
}

.navigation .overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.navigation .overlay.blur {
  animation: blurAnimation 0.3s ease forwards;
  display: block;
}

.navigation .overlay:not(.blur) {
  animation: blurAnimationOut 0.3s ease forwards;
}

@media (max-width: 1100px) {
  .header .navigation .toggle {
    cursor: pointer;
    display: flex;
    z-index: 10;
    top: 3rem;
    right: 5rem;
  }

  .no-scroll {
    overflow: hidden;
  }

  .header .navigation .list {
    flex-direction: column;
    border: 1px solid var(--p4y);
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    height: 100vh;
    justify-content: center;
    z-index: 5;
    padding-inline: 3rem;
    align-items: center;
    background: var(--p3y);
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header .navigation .list.show {
    right: 0;
    opacity: 1;
  }

  .header .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .header {
    padding: 1rem 2rem;
  }

  .header .navigation .toggle {
    top: 3rem;
    right: 2rem;
  }
  
  .header .navigation .list {
    padding-inline: 2rem;
    padding: 0rem 2em 0em 4em;
    align-items: end;
  }

  .header .buttons {
      display: none;
    }
}

@media (max-width: 400px) {
  .header {
    padding: 1rem 1.5rem;
  }
}
