.header {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 1rem;
}

.header .logo-image {
  width: 48px;
}

.header .buttons {
  display: flex;
  gap: 16px;
}