/* colors.css */

/* ########## COLORS ########## */
:root {
  --p1z: #F6F6F6;
  --p2z: #EEEEEE;
  --p3z: #E7E7E7;
  --p4z: #C4C4C4;
  --p5z: #A6A6A6;
  --p6z: #7B7B7B;
  --p7z: #616161;
  --p8z: #4B4B4B;
  --p9z: #343434;
  --p1yz: #212121;
  --p11z: #191919;
  --p12z: #0E0E0E;
  --p13z: #050505;

  --p1y: #FAFAFA;
  --p2y: #F2F2F2;
  --p3y: #EBEBEB;
  --p4y: #CACACA;
  --p5y: #A9A9A9;
  --p6y: #808080;
  --p7y: #676767;
  --p8y: #4F4F4F;
  --p9y: #363636;
  --p10y: #232323;
  --p11y: #1D1D1D;
  --p12y: #121212;
  --p13y: #090909;

  --p1x: #FEFEFE;
  --p2x: #F5F5F5;
  --p3x: #F0F0F0;
  --p4x: #D2D2D2;
  --p5x: #B1B1B1;
  --p6x: #878787;
  --p7x: #6D6D6D;
  --p8x: #575757;
  --p9x: #3D3D3D;
  --p1yx: #292929;
  --p11x: #202020;
  --p12x: #151515;
  --p13x: #101010;

  --bg-yellow: #FBBB50;
  --bgh-yellow: #FEB843;
  --dark-yellow: #221500;

  --shd-default: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shdh-default:  0 1px 3px rgba(0, 0, 0, 0.3);
}
