/* colors.css */

/* ########## COLORS ########## */
:root {
  --c1: #f8f9fa;
  --c2: #e9ecef;
  --c3: #dee2e6;
  --c4: #ced4da;
  --c5: #adb5bd;
  --c6: #6c757d;
  --c7: #495057;
  --c8: #343a40;
  --c9: #212529;
  --c10: #0b0d0f;
  --p1: #656d4a;
  --p2: #414833;
  --p3: #111D13;
}
