/* typography.css */

/* ########## TITLE ########## */
.primary-heading {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 4.5rem;
  color: var(--p13y);
}

.secondary-heading {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--p13y);
}

.tertiary-heading {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--p13y);
}

.post-heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--p12y);
}

/* ########## BODY REGULAR ########## */
.paragraph-normal {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--p12y);
}

/* ########## BODY MEDIUM ########## */
.paragraph-medium {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--p12y);
}

.paragraph-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--p12y);
}

/* ########## LINK ########## */
a {
  text-decoration: none;
  font-family: var(--font-body);
  cursor: pointer;
}
